# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
coverage/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Firebase
firebase_app_id_file.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/build/
ios/.symlinks/
ios/Flutter/*.framework
ios/Flutter/.last_build_id
ios/Runner/GeneratedPluginRegistrant.*

# Web / Desktop
.dart_tool/
android/.dart_tool/
web/.dart_tool/
windows/.dart_tool/
linux/.dart_tool/
